<button (click)="onclick()" type="button" class="btn  btn-danger">
  {{ReadMore?"Read More":"Read Less"}}
</button>
<!-- <ng-container *ngIf="visible"> -->
<h2>All Landmark Information</h2>

<thead>
    <tr>
      <th>Id</th>
      <th>X Coordinates</th>
      <th>Y Coordinates</th>
      <th>Z Coordinates</th>
      <th>Country Name</th>
      <th>Landmark Name</th>
      <th>Town Name</th>
      <th>Country Captial</th>
      <th>Notes</th>
    </tr>
</thead>
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#myModal">Add</button>

<app-landmark *ngFor='let l of landmarks' [landmark]="l">
  </app-landmark>
<!-- </ng-container> -->

<!-- <ng-container *ngIf="formVisible">
  <H1>UR DAD</H1>
  <app-landmark-forum [landmark]="landmarkTemp"></app-landmark-forum>
</ng-container> -->


<!-- Modal -->
<div  class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" #myModal>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="myModalLabel">Add an Artist</h5>
        <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <app-landmark-forum></app-landmark-forum>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>

  
