<!-- <button (click)="onclick()" type="button" class="btn  btn-danger">
  {{ReadMore?"Read More":"Read Less"}}
</button> -->
<!-- <ng-container *ngIf="visible"> -->
<h2>your Landmark Tracker</h2>

<!-- <thead>
    <tr>
      <th>Id</th>
      <th>Country Name</th>
      <th>Landmark Name</th>
      <th>City Name</th>
      <th>Notes</th>
    </tr>
</thead> -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#myModal">Add</button>

<div class="container text-center">
  <div class="row">
    <div class="col">
      Country Name
    </div>
    <div class="col">
      Landmark Name
    </div>
    <div class="col">
    City Name
    </div>
    <div class="col">
      Notes
    </div>
    <div class="col">
    </div>
  </div>
</div>
<div *ngFor='let l of landmarks'>
<app-landmark *ngIf="l.userID === currentUserID" [landmark]="l">
  </app-landmark>
</div>
<!-- </ng-container> -->

<!-- <ng-container *ngIf="formVisible">
  <H1>UR DAD</H1>
  <app-landmark-forum [landmark]="landmarkTemp"></app-landmark-forum>
</ng-container> -->
<!-- <app-landmark-forum [landmark]="landmarkTemp"></app-landmark-forum> -->




<!-- Modal -->
<div  class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" #myModal>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="myModalLabel">Add an Landmark</h5>
        <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <app-landmark-forum [landmark]="landmarkTemp"></app-landmark-forum>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>

  
