<form [formGroup]="landmarkForm" class="form-group" class="container-md">
    <div class="mb-3">
        <label for="xCoordinates">X Coordinates</label>
        <input id="xCoordinates" type="number" formControlName="xCoordinates" class="form-control">
        {{landmark._id}}
    </div>
    <div class="mb-3">
        <label for="yCoordinates">Y Coordinates</label>
        <input id="yCoordinates" type="number" formControlName="yCoordinates" class="form-control">
    </div>
    <div class="mb-3">
        <label for="zCoordinates">Z Coordinates</label>
        <input id="zCoordinates" type="number" formControlName="zCoordinates" class="form-control">
    </div>
    <div class="mb-3">
      <label for="countryName">Country Name</label>
      <input id="countryName" type="text" formControlName="countryName" class="form-control">
  </div>
  <div class="mb-3">
    <label for="landmarkName">Landmark Name</label>
    <input id="landmarkName" type="text" formControlName="landmarkName" class="form-control">
</div>
<div class="mb-3">
  <label for="townName">Town Name</label>
  <input id="townName" type="text" formControlName="townName" class="form-control">
</div>
<div class="mb-3">
  <label for="countryCaptial">Country Captial</label>
  <input id="countryCaptial" type="text" formControlName="countryCaptial" class="form-control">
</div>
<div class="mb-3">
  <label for="notes">Notes</label>
  <input id="notes" type="text" formControlName="notes" class="form-control">
</div>

<button type="submit" (click)="onSubmit()">Submit</button>

</form>