<form [formGroup]="landmarkForm" class="form-group" class="container-md">
    <div class="mb-3">
      <label for="countryName">Country Name</label>
      <input id="countryName" type="text" formControlName="countryName" class="form-control">
  </div>
  <div class="mb-3">
    <label for="landmarkName">Landmark Name</label>
    <input id="landmarkName" type="text" formControlName="landmarkName" class="form-control">
</div>
<div class="mb-3">
  <label for="cityName">City Name</label>
  <input id="cityName" type="text" formControlName="cityName" class="form-control">
</div>
<div class="mb-3">
  <label for="notes">Notes</label>
  <input id="notes" type="text" formControlName="notes" class="form-control">
</div>
<div *ngIf="currentUserRole==='Admin'" class="mb-3">
  <label for="userID">User ID</label>
  <input id="userID" type="text" formControlName="userID" class="form-control">
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-primary" (click)="onSubmit()">Save changes</button>
</div>
</form>



